@{
    ViewData["Title"] = "Asp Net Core + Vuetify";
}

<div id='app'>Loading application...</div>

@section scripts {
    <script src="~/dist/main.js"></script>
    @*<script src="~/dist/main.js" asp-append-version="true"></script>*@
}
